<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<roundcube:object name="logo" src="/images/roundcube_logo.png" id="logo" border="0" style="margin:0 11px" />

<roundcube:object name="message" id="message" />

<div id="mainscreen">
<roundcube:object name="plugin.body" />
</div>

<roundcube:object name="plugin.footer" />

<script type="text/javascript">
rcube_init_mail_ui();
</script>

</body>
</html>
